.menu {
  background-color: #008592;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.45);
  height: 110px;
}
.menu-logo {
  height: 100px;
  margin-top: 5px;
  width: 100px;
}
.menu-button {
  color: #eee;
  cursor: pointer;
  font-weight: bold;
  margin-top: 45px;
  padding-bottom: 30px;
  transition: width 2s;
}
.menu-button:hover {
  border-bottom: 1px solid pink;
}
.menu-thumb {
  font-size: 20px;
  font-weight: bold;
}
.menu-thumb-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
}