.menu {
  background-color: #008592;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.45);
  height: 110px;
}
.menu-logo {
  height: 100px;
  margin-top: 5px;
  width: 100px;
}
.menu-button {
  color: #eee;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  padding-top: 45px;
  padding-bottom: 45px;
  transition-duration: 0.3s;
  transition-property: margin-top;
}
.menu-button:hover {
  margin-top: 0px;
}
.menu-thumb {
  font-size: 20px;
  font-weight: bold;
}
.menu-thumb-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
}
.left-opt{
  position: relative;
  float: left;
  padding: 0px 18px 0px 18px;
}