.menu_scroll {
  background-color: #f9f9f9;/*#008592;*/
  box-shadow: 1px 1px 10px rgba(0,0,0,0.45);
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

.menu_scroll-button {
  cursor: pointer;
  height: 47px;
  margin-top: 3px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  transition-duration: 0.3s;
  transition-property: background-color, height, margin-top;
}

.menu_scroll-button:hover {
  height: 50px;
  margin-top: 0px;
  background-color: #6b638c;
}

.menu_scroll-button:hover .menu_scroll-button-text {
  /*border-bottom: 1.5px dashed #ffffff;/*#6b638c*/
  color: #ffffff;
  padding-bottom: 2px;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.5);
}

.menu_scroll-button-text {
  color: #6b638c;
  border-bottom: 1.5px dashed transparent;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  height: 25px;
  padding-bottom: 8px;
  transition: 0.2s ease;
  transition-property: color;
}

.menu_scroll-logo {
  cursor: pointer;
  height: 65px;
  margin-top: 5px;
  width: 65px;
}

.menu_scroll-xs {
  color: #6b638c;
  cursor: pointer;
  font-size: 28px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 5px;
}
