.pd-gallery {
  background-color: lightgrey;
}

.pd-description {
  background-color: lightblue;
}

.pd-thumb-v {
  background-color: lightgreen;
  height: 420px;
  padding: 0px;
  width: 95px;
}

.pd-thumb-h {
  background-color: lightgreen;
  margin-top: 15px;
  height: 95px;
  padding: 0px;
}

.pd-image-area {
  background-color: lightyellow;
  text-align: center;
}

.pd-image-active {
  background-color: red;
  border-radius: 5px;
  display: inline-block;
  height: 420px;
  width: 420px;
}

.pd-title {
  background-color: purple;
  color: white;
}
