.pd-gallery {
}

.pd-description {
}

.pd-thumb-v {
  height: 420px;
  padding: 0px;
  width: 95px;
}

.pd-thumb-h {
  display: inline-block;
  margin-top: 15px;
  height: 95px;
  padding: 0px;
}

.pd-image-area {
  text-align: center;
}

.pd-image-active {
  border-radius: 5px;
  display: inline-block;
  height: 420px;
  width: 420px;
}

.pd-title {
  color: red;
}

.image-active {
  height: 420px;
  width: 420px;
}
