.format-name {
	color: #878787;
	font-weight: bold;
}

.gallery {
	border: 0px solid rgba(0,0,0,0.15);
	border-radius: 5px;
	padding: 0px 1px 1px 1px;
	text-align: center;
}

.gallery-desc {
	display: inline-block;
	height:40px;
	margin-top: 8px;
	width: 250px;
	z-index: 0;
}

.gallery-pay {
	display: inline-block;
	height:35px;
	width: 250px;
	z-index: 0;
}

.gallery-photo {
	height:280px;
	margin:0 auto;
	position:relative;
  width:255px;
}

.gallery-photo img {
	left:0;
  position:absolute;
	transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
}

.gallery-photo img.top:hover {
  opacity:0;
}

.format-price {
	color: #161616;
	font-weight: bold;
}

.md-size {
	height: 255px;
	margin-top: 20px;
	width: 255px;
}
