<div class="container-fluid">
  <div ng-if="!vmProductDetail.productExist">
    Producto no existe
  </div>
  <div ng-if="vmProductDetail.productExist">
    <div class="row">
      <div class="pd-thumbnail col-lg-2 hidden-md hidden-sm hidden-xs"></div>
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
        <div class="pd-active-image">

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="pd-title">
          titulo de descrición
        </div>
      </div>
    </div>
  </div>
</div>
