<div class="container-fluid">
  <div ng-if="!vmProductDetail.productExist">
    Producto no existe
  </div>
  <div ng-if="vmProductDetail.productExist">
    <div class="row">
      <div class="col-lg-6">
        <div class="pd-gallery">
          TRgfkdlfjasklfhsajk sahdf klhasdklfhasferh rgladnfkjl sajkfncnx ada hau igh  uilsn nk akj ahkfdah gi hguigh i a fhauil fhaiul hfiul hutirls gua dlfjdksfjkdagmngltireyg    ghdfghdkl ga  ah ug hgña had hjkfsd h ñahjdñh urith ugiña ña kdhjklh uigthañg a
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pd-title">
          titulo de descrición
        </div>
      </div>
    </div>
  </div>
</div>
