<div class="container-fluid">
  <div ng-if="!vmProductDetail.productExist">
    Producto no existe
  </div>
  <div ng-if="vmProductDetail.productExist">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pd-gallery">
        <div class="row">
          <div class="col-sm-12 col-xs-12 hidden-lg hidden-md pd-title">
            {{vmProductDetail.product.name}}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 hidden-md hidden-sm hidden-xs pd-thumb-v">
            thumb v
          </div>
          <div class="col-lg-10 pd-image-area">
            <div class="pd-image-active">
              image
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 hidden-lg pd-thumb-h">
            thumb h
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pd-description">
        <div class="row">
          <div class="col-ls-12 col-md-12 hidden-sm hidden-xs pd-title">
            {{vmProductDetail.product.name}}
          </div>
        </div>
        {{vmProductDetail.product.description_sm}}
      </div>
    </div>
  </div>
</div>
